<%= form_for(@tt) do |f| %>
  <% if @tt.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tt.errors.count, "error") %> prohibited this tt from being saved:</h2>

      <ul>
      <% @tt.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :call_id %><br>
    <%= f.text_field :call_id %>
  </div>
  <div class="field">
    <%= f.label :to %><br>
    <%= f.text_field :to %>
  </div>
  <div class="field">
    <%= f.label :call_direction %><br>
    <%= f.text_field :call_direction %>
  </div>
  <div class="field">
    <%= f.label :call_price %><br>
    <%= f.text_field :call_price %>
  </div>
  <div class="field">
    <%= f.label :call_rate %><br>
    <%= f.text_field :call_rate %>
  </div>
  <div class="field">
    <%= f.label :call_start %><br>
    <%= f.number_field :call_start %>
  </div>
  <div class="field">
    <%= f.label :call_end %><br>
    <%= f.text_field :call_end %>
  </div>
  <div class="field">
    <%= f.label :call_duration %><br>
    <%= f.text_field :call_duration %>
  </div>
  <div class="field">
    <%= f.label :call_request%><br>
    <%= f.text_field :call_request %>
  </div>
  <div class="field">
    <%= f.label :network_code %><br>
    <%= f.text_field :network_code %>
  </div>
  <div class="field">
    <%= f.label :created_at %><br>
    <%= f.text_field :created_at %>
  </div>
  <div class="field">
    <%= f.label :updated_at %><br>
    <%= f.text_field :updated_at %>
  </div>
  <div class="actions">
    <%= f.submit 'create TTS' %>
  </div>
<% end %>
