<%= render  'layouts/navbar' %>

<p id="notice"><%= notice %></p>

<p>
  <strong>Call id:</strong>
  <%= @tt.call_id %>
</p>

<p>
  <strong>To:</strong>
  <%= @tt.to %>
</p>

<p>
  <strong>Call Direction:</strong>
  <%= @tt.call_direction %>
</p>

<p>
  <strong>Call price:</strong>
  <%= @tt.call_price %>
</p>

<p>
  <strong>Call rate:</strong>
  <%= @tt.call_rate %>
</p>

<p>
  <strong>Call start:</strong>
  <%= @tt.call_start %>
</p>

<p>
  <strong>Call end:</strong>
  <%= @tt.call_duration %>
</p>

<p>
  <strong>Call request:</strong>
  <%= @tt.call_request %>
</p>

<p>
  <strong>Network code:</strong>
  <%= @tt.network_code %>
</p>

<p>
  <strong>Created at:</strong>
  <%= @tt.created_at %>
</p>

<p>
  <strong>Updated at:</strong>
  <%= @tt.updated_at %>
</p>


<%= link_to 'Edit', edit_tt_path(@tt), :class => "button" %>
<%= link_to 'Back', tts_path, :class => "button" %>
