<p id="notice"><%= notice %></p>

<p>
  <strong>Call:</strong>
  <%= @call.call_id %>
</p>

<p>
  <strong>To:</strong>
  <%= @call.to %>
</p>

<p>
  <strong>From:</strong>
  <%= @call.from %>
</p>

<p>
  <strong>Status:</strong>
  <%= @call.status %>
</p>

<%= link_to 'Edit', edit_call_path(@call), :class => "button" %>
<%= link_to 'Back', calls_path, :class => "button" %>
