<%= form_for(@dlr) do |f| %>
  <% if @dlr.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dlr.errors.count, "error") %> prohibited this dlr from being saved:</h2>

      <ul>
      <% @dlr.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :to %><br>
    <%= f.number_field :to %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
