<%= form_for(@mo) do |f| %>
  <% if @mo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mo.errors.count, "error") %> prohibited this mo from being saved:</h2>

      <ul>
      <% @mo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :status %><br>
    <%= f.number_field :status %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
